.ugport__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.ugport__brand div {
  flex: 1;
  max-width: 150px;
  min-width: 80px;
  margin: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ugport__brand div a img {
  height: 2rem;
}

.brand__padding {
  padding: 2rem 2rem;
}

@media screen and (max-width: 650px) {
  .ugport__brand div a img {
    height: 1.5rem;
  }

  .ugport__brand div {
    min-width: 70px;
  }
}
