.ugport__showCase1 {
  display: flex;
  flex-direction: row;
}

.ugport__showCase1-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.ugport__showCase1-image img {
  width: 100%;
  height: 100%;
}

.ugport__showCase1-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.ugport__showCase1-content h4 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #71E5FF;
}

.ugport__showCase1-content h4:last-child {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #FF8A71;
}

.ugport__showCase1-content h1 {
  margin: 1rem 0;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}

.ugport__showCase1-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: var(--color-text);

  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .ugport__showCase1 {
    flex-direction: column;
  }

  .ugport__showCase1-image {
    margin: 1rem 0;
  }

  .ugport__showCase1-content {
    margin-top: 2rem;
  }
}