.ugport__footer {
  display: flex;
  background: var(--color-footer);

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ugport__footer-heading {
  width: 100%;
  text-align: center;
  
  margin-bottom: 3rem;
  padding: 0 10%;
}

.ugport__footer-heading h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;

  text-align: center;
  letter-spacing: -0.04em;
}

.ugport__footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1rem;
  border: 1px solid #FFFFFF;

  margin-bottom: 2rem;
  cursor: pointer;
}

.ugport__footer-button p {

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
  word-spacing: 2px;
}

.ugport__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.ugport__footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: 'liga' off;
  
  color: #FFFFFF;
}

@media screen and (max-width: 850px) {
  .ugport__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .ugport__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .ugport__footer-links div {
    margin: 1rem 0;
  }

  .ugport__footer-button p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .ugport__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}